doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="public/css/temp.css", rel="stylesheet")
        title Graduation Project
    body 
        header 
            h1 Welcome Private Chat Room
        main
            div#welcome
                form#roomForm   
                    input#roomInput(placeholder="채팅방 이름을 입력하세요", required, type="text")
                    button#roomButton 방 입장
            div#call
                div#myStream
                    video#myFace(autoplay,playsinline, width="400", height="300")
                    video#peerFace(autoplay,playsinline, width="400", height="300",style="margin-left: 30px")
                select#cameras
                div.button
                        button#mute 음소거                
                        button#camera 카메라 끄기
                
        script(src="socket.io/socket.io.js")    
        script(src="public/js/app.js") 
